// Site          : Responsive Template with SASS and Javascript
// CSS author    : Lee Marsden
// Updated by    : Lee Marsden
// Site CSS File : CORE/HELPERS/MIXINS/GRIDS - sass grid mixins

// SASS MIXINS

/* ==========================================================================
		GRIDS
	 ========================================================================== */

@mixin grid($x, $y: 1) {
	float 				: left;
	width 				: ($full-width / $x) * $y;
	padding-left 	: $gutter;
}

@mixin grid-width($x, $y: 1) {
	width: ($full-width / $x) * $y;
}