// Site          : Responsive Template with SASS and Javascript
// CSS author    : Lee Marsden
// Updated by    : Lee Marsden
// Site CSS File : CORE/CONTENT/HEADER/LOGO - content styles for logo

/* ==========================================================================
   LOGO CONTENT STYLES
   ========================================================================== */

.c-logo {
	margin-bottom: $spacing / 2;	
	animation: drop 2000ms ease-in;

	img {
		width: 140px;
	}

		@include bp(bp10) {
			float: left;
		}
}