// Site          : Responsive Template with SASS and Javascript
// CSS author    : Lee Marsden
// Updated by    : Lee Marsden
// Site CSS File : CORE/BASE/FORMS - any default form styles

/* ==========================================================================
   BASE FORMS STYLES
   ========================================================================== */

// typical form markup

// <form>

// 	<fieldset>

// 		<legend></legend>

// 		<ul>
// 			<li>
// 				<label></label>
// 				<input type="text">
// 			</li>
// 			<li>
// 				<label></label>
// 				<input type="text">
// 			</li>
// 		</ul>

// 	</fieldset>

// </form>

label {
    display: block;
    margin-bottom: $label-margin-bottom;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
inpout[type="color"] {
    display: inline-block;
    padding: $input-padding;
    vertical-align: middle;
    background-color: $input-bg;
    border: $input-border-width $input-border-style $input-border-colour;

        &:hover {
            border-color: $input-border-hover-colour;
        }
        &:focus {
            border-color: $input-border-focus-color;
            box-shadow: $input-focus-box-shadow;
            outline: 0;
            outline : thin dotted \ 9;
        }
}

input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"] {
    display: -webkit-inline-flex;
}

input,
textarea {
    width : 100%;
}

textarea {
    height : auto;
    resize-x : none;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
    width : auto;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline : thin dotted #333;
    outline : 5px auto -webkit-focus-ring-color;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: $spacing / 2;
    line-height : normal;
}

// disabled inputs

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
    opacity : .25;
}
