// Site          : Responsive Template with SASS and Javascript
// CSS author    : Lee Marsden
// Updated by    : Lee Marsden
// Site CSS File : CORE/LAYOUT/MAIN - layout styles for main

/* ==========================================================================
   MAIN LAYOUT STYLES
   ========================================================================== */

.l-about {
	@extend %col-one;

		@include bp(bp20) {
			@include grid-width(3,2);	
		}
}

.l-latest {
	@extend %col-one;
	
		@include bp(bp20) {
			@include grid-width(3);	
		}
		
}

.l-products {

	li {
		margin-bottom: $spacing;
		@extend %col-one;

		@include bp(bp10) {
			@include grid-width(2);
		}
		@include bp(bp20) {
			@include grid-width(3);
		}
	}

}

.l-product-img {
	@extend %col-one;	

		@include bp(bp20) {
			width: 54%;
		}
}
.l-product-details {
	@extend %col-one;	

		@include bp(bp20) {
			width: 46%;
		}
}

.l-more-images {

	li {
		@extend %col-one;
		margin-bottom: $spacing;

			@include bp(bp10) {
				@include grid-width(2);
			}
			@include bp(bp20) {
				@include grid-width(3);
			}
	}

}