// Site          : Responsive Template with SASS and Javascript
// CSS author    : Lee Marsden
// Updated by    : Lee Marsden
// Site CSS File : CORE/LAYOUT/HEADER - layout styles for header

/* ==========================================================================
   HEADER LAYOUT STYLES
   ========================================================================== */

[role="banner"] {
	padding-top: $spacing / 2;
	text-align: center;

		@include bp(bp10) {
			padding-top: $spacing;
			padding-bottom: $spacing / 2;
			text-align: left;
		}
		
}