// Site 					: Responsive Template with SASS
// CSS author 		: Lee Marsden
// Updated body 	: Lee Marsden
// Site CSS File 	: NAVIGATION/BREADCRUMBS - site breadcrumb styles

/* ==========================================================================
		NAVIGATION - BREADCRUMBS
	 ========================================================================== */

.breadcrumbs {
	padding: toRem(6px);
	text-align: center;
	border-radius: 0 0 $border-radius $border-radius;
	@include cf;

	li { 
		display: inline-block;
		margin-right: toRem(4px);
		color: lighten(colour(brand, secondary), 30);
		font-size: toRem(12px);

		+ li::before {
			content: '/ ';
			margin-right: toRem(4px);
		}

		a {
			text-decoration: none;
			color: colour(brand, secondary);
		}
	}
}