// Site 					: Responsive Template with SASS
// CSS author 		: Lee Marsden
// Updated body 	: Lee Marsden
// Site CSS File 	: NAVIGATION/SITE-NAVIGATION - site navigation styles

/* ==========================================================================
		NAVIGATION - SITE NAVIGATION
	 ========================================================================== */

.nav-main {
	margin-bottom: toRem(12px);
	border-top: 1px solid $border-colour;
	border-bottom: 1px solid $border-colour;
	@include cf;

	@extend %list-inline;

	li {
		width: 25%;
		border-right: 1px dashed $border-colour;

			&:last-child {
				border: none;
			}
	}
	a {
		color: colour(brand, secondary);
		text-decoration: none;
		height: toRem(34px);
		line-height: toRem(34px);
		font-family: $alt-font;
		font-size: toRem(20px);
		transition: transform 250ms ease-in;

			&:hover, &:focus {
				color: darken(colour(brand,primary),10);
				transform: translateY(toRem(-4px));
			}
	}

		@include bp(bp10) {
			float: right;
			margin-top: toRem(48px);
			border: none;

				li {
					width: auto;
				}

				a {
					padding: 0 toRem(20px);
					font-size: toRem(24px);
				}
		}
}
