// Site          : Responsive Template with SASS and Javascript
// CSS author    : Lee Marsden
// Updated by    : Lee Marsden
// Site CSS File : CORE/LAYOUT/HEADER - layout styles for header

/* ==========================================================================
   HEADER LAYOUT STYLES
   ========================================================================== */

[role="banner"] {
	padding: $spacing / 2 0;
	text-align: center;

		@include bp(bp10) {
			padding: $spacing 0;
			text-align: left;
		}
}