// Site          : Responsive Template with SASS and Javascript
// CSS author    : Lee Marsden
// Updated by    : Lee Marsden
// Site CSS File : CORE/CONTENT/BANNER/BANNER - content styles for the banner

/* ==========================================================================
   BANNER CONTENT STYLES
   ========================================================================== */

.c-banner {
	background: colour(shades, white);
	text-align: center;
	color: darken($text-colour,15);
		
		.l-wrap {
			padding: $spacing 0;
			position: relative;
			background: url(assets/img/bg-banner.jpg) no-repeat 50% top;
			background-size: 100%;
		}

		.btn {
			position: absolute;
			left: 50%;
			bottom: toRem(-20px);
			margin-left: toRem(-84px);
		}

		@include bp(bp05) {
			.l-wrap { background-size: auto; }
		}
		@include bp(bp10) {
			text-align: left;

				.l-wrap { background-position: right top; padding-bottom: $spacing * 2; }

				.btn { font-size: toEms(20px); bottom: toRem(-26px); }

		}
}

.c-banner__uselfs{
	font-size: toRem(24px);
	color: colour(brand, secondary);

		@include bp(bp10) {
			font-size: toRem(32px);
		}
}