// Site          : Responsive Template with SASS and Javascript
// CSS author    : Lee Marsden
// Updated by    : Lee Marsden
// Site CSS File : CORE/CONTENT/MAIN/FAQ - content styles for the faq page

/* ==========================================================================
   FAQ CONTENT STYLES
   ========================================================================== */

.faq {
	margin-bottom: $spacing;
	
	dt { font-size: toRem(18px); margin-bottom: toRem(8px); }
	dd { margin: 0 0 toRem(12px) 0; }

}