// Site          : Responsive Template with SASS and Javascript
// CSS author    : Lee Marsden
// Updated by    : Lee Marsden
// Site CSS File : CORE/SETTINGS/VARIABLES - site wide variables

/* ==========================================================================
   SETTINGS VARIABLES
   ========================================================================== */

// ------------------------------------------------------------------------------------------------------------------------//
// COLOURS
// ------------------------------------------------------------------------------------------------------------------------//

$shades: hsl(0, 0%, 100%);

$colours: (
    brand: (
    	primary 								: hsl(4, 90%, 24%),
			secondary 							: hsl(123, 28%, 30%),
    ),
    shades: (
			white 									: hsl(0, 0%, 100%),
			lightergray 						: darken($shades,10),
			lightgray  							: darken($shades,20),
			gray 			 							: darken($shades,30),
			darkergray 							: darken($shades,40),
			darkgray 								: darken($shades,50),
			black 									: hsl(0, 0%, 0%)
    ),
    links: (
    	link 										: hsl(4, 90%, 24%),
			link-hover 							: hsl(0, 0%, 100%)
    ),
    social: (
      facebook                : hsl(221, 44%, 41%),
      twitter                 : hsl(196, 100%, 46%),
      instagram               : hsl(207, 34%, 48%),
      mail                    : hsl(0, 0%, 49%)
    ),
    alert: (
      info                    : hsl(194, 66%, 61%)
    )
);

// ------------------------------------------------------------------------------------------------------------------------//
// MEDIA QUERIES
// ------------------------------------------------------------------------------------------------------------------------//

$bp05                         : toRem(460px); 
$bp10 												: toRem(620px);
$bp20                         : toRem(840px);
$bp30                         : toRem(1100px);

$bpbody1                      : toRem(600px);
$bpbody2                      : toRem(880px);
$bpbody3                      : toRem(1160px);
$bpbody4                      : toRem(1440px);

$breakpoints: (
  bp05: $bp05,
  bp10: $bp10,
  bp20: $bp20,
  bp30: $bp30,
  bpbody1: $bpbody1,
  bpbody2: $bpbody2,
  bpbody3: $bpbody3,
  bpbody4: $bpbody4
);


// ------------------------------------------------------------------------------------------------------------------------//
// Z-INDEX
// ------------------------------------------------------------------------------------------------------------------------//

$z-layers: (
  bottomless-pit: -9999,
  default: 1,
  dropdown: 3000,
  overlay: 4000,
  modal: 4001
);