// Site          : Responsive Template with SASS and Javascript
// CSS author    : Lee Marsden
// Updated by    : Lee Marsden
// Site CSS File : CORE/SETTINGS/VARIABLES - site wide variables

/* ==========================================================================
   SETTINGS VARIABLES
   ========================================================================== */

//contents

// base
// typography
// spacings
// colour
// texture
// forms
// panels
// navigation
// alerts
// modules
// misc
// media queries

// ------------------------------------------------------------------------------------------------------------------------//
// BASE
// ------------------------------------------------------------------------------------------------------------------------//

$bg-body 												: hsl(0, 0%, 100%);
$text-colour 										: hsl(0, 0%, 49%);

// ------------------------------------------------------------------------------------------------------------------------//
// TYPOGRAPHY
// ------------------------------------------------------------------------------------------------------------------------//

$base-font-family 							: 'Open Sans', sans-serif;
$base-font-size 								: 100%;
$base-line-height 							: 1.5;

$alt-font												: 'Dancing Script', cursive;

$small-font 										: toRem(14px);
$large-font 										: toRem(18px);

// headings

$heading-font-family 						: inherit;
$heading-font-weight 						: 700;

// ------------------------------------------------------------------------------------------------------------------------//
// SPACING
// ------------------------------------------------------------------------------------------------------------------------//

$gutter 												: toRem(24px);
$spacing  											: toRem(24px);
$full-width 										: 100%;

// ------------------------------------------------------------------------------------------------------------------------//
// TEXTURE
// ------------------------------------------------------------------------------------------------------------------------//

$border-colour 									: colour(shades, lightergray);
$border-width 									: toRem(1px);
$border-style 									: solid;
$border-radius 									: toRem(4px);

// ------------------------------------------------------------------------------------------------------------------------//
// FORMS
// ------------------------------------------------------------------------------------------------------------------------//

$form-font-family 							: inherit !default;
$form-input-padding 						: toEms(6px) toEms(10px);

// labels

$label-margin-bottom 						: $spacing / 6;
$label-colour 									: darken($text-colour,10);
$label-font-weight 							: 500;

// inputs

$input-margin-bottom 						: $spacing / 4;
$input-padding 									: $form-input-padding;

$input-font-size  							: $base-font-size;
$input-font-color 							: inherit;

$input-bg 			 								: colour(shades, white);
$input-focus-bg 								: darken($input-bg, 2);

$input-border-width 						: $border-width;
$input-border-style 						: $border-style;
$input-border-colour 						: darken($border-colour,5);
$input-border-hover-colour 			: darken($border-colour,10);
$input-border-focus-color 			: darken($border-colour,20);
$input-border-radius 						: $border-radius;

$input-disabled-bg 							: hsl(0, 0%, 87%);

$input-box-shadow 							: inset 0 1px 2px hsla(0, 0%, 0%, 0.1);
$input-focus-box-shadow 				: 0 0 toRem(4px) hsla(0, 0%, 0%, 0.7);

$form-help-colour 							: lighten($text-colour,10);
$form-help-padding 							: toRem(6px) 0;

// buttons

$btn-font-family 								: $base-font-family;
$btn-font-size 									: $base-font-size;

$btn-border-radius 							: $border-radius * 2;

$btn-font-align 								: center;
$btn-padding 										: toEms(10px) toEms(24px);

$btn-opacity 										: .6;

$btn-primary-bg 								: lighten(colour(brand, secondary),10);
$btn-primary-colour 						: colour(shades, white);

$btn-secondary-bg 							: lighten(colour(brand, secondary),35);
$btn-secondary-colour 					: colour(shades, white);

// sizes

$btn-tiny 											: toEms(11px);
$btn-small 											: toEms(13px);
$btn-large 											: toEms(20px);
$btn-huge 											: toEms(26px);

// ------------------------------------------------------------------------------------------------------------------------//
// NAVIGAION
// ------------------------------------------------------------------------------------------------------------------------//

// site navigation

$nav-bg 												: colour(brand, primary);
$nav-link-colour 								: colour(brand, secondary);

$nav-border-width  							: $border-width;
$nav-border-style 							: $border-style;
$nav-border-colour 							: $border-colour;

//hover
$nav-link-hover-colour 					: colour(shades, white); //update
$nav-bg-hover-colour 						: colour(shades, white); //update

$nav-link-divider-colour 				: colour(shades, white); //update

// ------------------------------------------------------------------------------------------------------------------------//
// MODULES
// ------------------------------------------------------------------------------------------------------------------------//

// PANELS

$panel-bg 											: colour(shades, white);
$panel-border-width 						: $border-width;
$panel-border-style 						: $border-style;
$panel-border-colour 						: $border-colour;
$panel-border-radius 						: $border-radius;
$panel-padding 									: $spacing / 2;


// ------------------------------------------------------------------------------------------------------------------------//
// MISC
// ------------------------------------------------------------------------------------------------------------------------//

$transition-duration 						: 250ms;

$img-path 											: 'assets/img';

$font-path 											: 'assets/fonts';

$max-width 											: toRem(1000px);
