// Site          : Responsive Template with SASS and Javascript
// CSS author    : Lee Marsden
// Updated by    : Lee Marsden
// Site CSS File : CORE/CONTENT/BANNER/BANNER - content styles for the banner

/* ==========================================================================
   BANNER CONTENT STYLES
   ========================================================================== */

.c-banner {
	background: colour(shades, white);
	text-align: center;
	color: darken($text-colour,15);

	&_wrap {
		max-width: 1760px;
		height: 240px;
		margin: 0 auto;
		padding-top: 40px;
		background-image: url(assets/bg-banner-1.png);
		background-repeat: no-repeat;
		background-size: cover;

		@include bp(bpBanner1) {
			height: 300px;
			padding-top: 60px;
			background-image: url(assets/bg-banner-2.png);
			background-size: 100% 100%;	
		}
		@include bp(bpBanner2) {
			height: 360px;
			padding-top: 80px;
			background-image: url(assets/bg-banner-3.png);
		}
		@include bp(bpBanner3) {
			height: 420px;
			padding-top: 100px;
			background-image: url(assets/bg-banner-4.png);
		}
		@include bp(bpBanner4) {
			height: 480px;
			padding-top: 120px;
			background-image: url(assets/bg-banner-5.png);
		}
	}

	&_btnWrap {
		> div {
			margin-bottom: $spacing / 4;
		}

		@include bp(bp10) {
			div {
				display: inline-block;

				&:first-child {
					margin-right: $spacing / 2;
				}
			}
		}
	}
		
}