// Site          : Responsive Template with SASS and Javascript
// CSS author    : Lee Marsden
// Updated by    : Lee Marsden
// Site CSS File : MODULES/PRODUCT - product module styles

/* ==========================================================================
   PROCUCT MODULE STYLES
   ========================================================================== */

.product {
	display: block;
	padding: toRem(6px);
	background: colour(shades, white);
	border: 1px solid darken($border-colour,4);
	border-radius: $border-radius;
	text-decoration: none; 
	color: $text-colour;
	transition: all 100ms ease-in;

		&:hover {
			box-shadow: 0 0 4px rgba(colour(shades, black),0.5);
			transform: scale(1.01);
		}

		header { @include cf; }

		h1 {
			margin: 0;
			float: left;
			color: colour(brand, secondary); 
			font-size: toRem(20px);

				&:hover { text-decoration: underline; }
		}
		p:last-child { margin: 0; }
}

.product--price {
	float: right;
	font-size: toRem(14px);
	font-weight: 700;
	color: lighten(colour(brand, primary),40);
}