// Site          : Responsive Template with SASS and Javascript
// CSS author    : Lee Marsden
// Updated by    : Lee Marsden
// Site CSS File : MODULES/PRODUCT - product module styles

/* ==========================================================================
   PROCUCT MODULE STYLES
   ========================================================================== */

.product {
	padding: toRem(8px);
	background: colour(shades, white);
	border: 1px solid $border-colour;

		a { 
			display: block; text-decoration: none; color: $text-colour;
			transition: all 150ms ease-in;

				&:hover {
					box-shadow: 0 0 4px rgba(colour(shades, black),0.7);
					transform: scale(1.02);
				}
		}

		h1 { margin-bottom: 0; color: colour(brand, secondary); }
		p { margin: 0; }
}

.product--main {
	margin-bottom: $spacing;
	@include cf;

	@include bp(bp10) {

		img {
			width: auto;
			float: left;
			margin-right: $spacing;
		}

	}

}