// Site          : Responsive Template with SASS and Javascript
// CSS author    : Lee Marsden
// Updated by    : Lee Marsden
// Site CSS File : MODULES/PRODUCT - product module styles

/* ==========================================================================
   PROCUCT MODULE STYLES
   ========================================================================== */

.product {
	padding: toRem(8px);
	background: colour(shades, white);
	border: 1px solid darken($border-colour,4);

		a { 
			display: block; text-decoration: none; color: $text-colour;
			transition: all 150ms ease-in;

				&:hover {
					box-shadow: 0 0 4px rgba(colour(shades, black),0.7);
					transform: scale(1.02);
				}
		}

		header {
			margin-bottom: $spacing;
		}

		h1 { margin-bottom: 0; color: colour(brand, secondary); font-size: toRem(20px); }
		p:last-child { margin: 0; }
}

.product--main {
	margin-bottom: $spacing;
	@include cf;

	@include bp(bp20) {

		> img {
			width: 45%;
			float: left;
			transition: transform 200ms ease-in;

				&:hover {
					transform: scale(1.2);
				}
		}

		.product--main__info {
			width: 55%;
			float: left;
			padding-left: $spacing;
		}

	}

}

.product--main__set {
	margin: toRem(8px) 0 $spacing 0;

		li { margin-bottom: toRem(8px); }
}

.product__buy {
	padding: toRem(10px);
	background: lighten(colour(shades, lightergray),5);
	border-radius: $border-radius;
		
		 table { width: 100%; margin-bottom: toRem(12px); }
		 td { padding: toRem(2px) 0; }

		 input[type="image"] { width: toRem(160px); }
}