Redirect 301 /products/elf-sets.html http://www.christmaself.co.uk/products/christmas-elf-set.html
Redirect 301 /products/eve-bags.html http://www.christmaself.co.uk/products/christmas-eve-bags.html
Redirect 301 /products/nice-cert.html http://www.christmaself.co.uk/products/christmas-nice-certificate.html
Redirect 301 /products/finger-puppets.html http://www.christmaself.co.uk/products/christmas-elves-finger-puppets.html
Redirect 301 /products/key.html http://www.christmaself.co.uk/products/santas-special-key.html
Redirect 301 /products/bendy-elf.html http://www.christmaself.co.uk/products/christmas-bendy-elf-toy.html
Redirect 301 /products/elf-mug.html http://www.christmaself.co.uk/products/santas-elf-mug.html