// Site          : Responsive Template with SASS and Javascript
// CSS author    : Lee Marsden
// Updated by    : Lee Marsden
// Site CSS File : MODULES/ALERTS - class styles for alerts

/* ==========================================================================
   ALERT MODULE STYLES
   ========================================================================== */

.alert {
	margin-bottom: $spacing / 2;
	padding: toRem(8px);
	font-size: toRem(14px);

		&.is-info {
			background: lighten(colour(alert, info),20);
			border: 1px solid colour(alert, info);
		}
}
