// Site          : Responsive Template with SASS and Javascript
// CSS author    : Lee Marsden
// Updated by    : Lee Marsden
// Site CSS File : MODULES/BUTTONS - class styles for buttons

/* ==========================================================================
   BUTTON MODULE STYLES
   ========================================================================== */

.btn {
	display: inline-block;
	padding: $btn-padding;
	font-family: $btn-font-family;
	font-size: $btn-font-size;
	font-weight: normal;
	line-height: normal;
	text-align: $btn-font-align;
	vertical-align: middle;
	border-radius: $btn-border-radius;
	cursor: pointer;
	text-decoration: none;

		&:hover, &:active, &:visited {
			text-decoration: none;
		}
}

.btn--a {
	background: $btn-primary-bg;
	border: 1px solid white;
	color: $btn-primary-colour;
	box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);

		&:hover, &:visited, &:focus, &.btn-disabled, &[disabled] { background: darken($btn-primary-bg,10); color: $btn-primary-colour; box-shadow: 0 0 6px rgba(colour(shades, black), 0.8); }
		&:active { background: darken($btn-primary-bg,20); }
}
.btn--b {
	background: $btn-secondary-bg;
	color: $btn-secondary-colour;

		&:hover, &:visited, &:focus, &.btn-disabled, &[disabled] { background: darken($btn-secondary-bg,10); color: $btn-secondary-colour; box-shadow: 0 0 6px rgba(colour(shades, black), 0.8); }
		&:active { background: darken($btn-primary-bg,20); }
}

// button sizes

.btn--tiny {
	font-size: $btn-tiny;
}

.btn--small {
	font-size: $btn-small;
}
.btn--large {
	font-size: $btn-large;
}

.btn--huge {
	font-size: $btn-huge;
}

// disabled buttons

button[disabled], .btn--disabled {
	opacity: .4;
	cursor: default;

		&:hover { opacity: .4; }
}
