// Site          : Responsive Template with SASS and Javascript
// CSS author    : Lee Marsden
// Updated by    : Lee Marsden
// Site CSS File : MODULES/ICONS - icons module styles

/* ==========================================================================
   ICON MODULE STYLES
   ========================================================================== */

.icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	fill: $text-colour;
}
.icon-close {
	
}
.icon-facebook {
	
}
.icon-twitter {
	
}
.icon-envelope-o {
	
}
.icon-instagram {
	
}