// Site          : Responsive Template with SASS and Javascript
// CSS author    : Lee Marsden
// Updated by    : Lee Marsden
// Site CSS File : MODULES/SECTIONS - styles for site sections

/* ==========================================================================
   SECTIONS MODULE STYLES
   ========================================================================== */

.section {
	padding: $spacing 0;
}

.section--highlight {
	background: lighten(colour(shades, lightergray),6);
	border-top: 1px solid $border-colour;
	border-bottom: 1px solid $border-colour;
}

.section--about {
	position: relative;
	background: url(assets/bg-hanging-elf.png) no-repeat 94% -7px;
	z-index: 100;

		@include bp(bp20) {
			padding-top: $spacing * 2;
			background-position: 94% 22px;
		}
}
